body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
	data-spy="scroll" 
	data-target=".navbar" 
	data-offset="50"
}

p{
	font-size: 16px;
}
.bg-1{
	background-color:#1abc9c;/*Green*/
	color: #ffffff;
}

.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
/*nav bar*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

/*overlay on pictures*/
.over{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.over-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.over a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.over a:hover, .over:focus {
    color: #f1f1f1;
}

.over .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.image:hover {
	 cursor: pointer; cursor: hand;
}
.pointer{ 
	cursor: pointer; 
}
/** profile pic ui **/
.con {
position:relative;
overflow:hidden;
margin: 0 auto;
width:200px;
height:200px;
}

.con .textbox {
position:absolute;
top:0;
left:0;
width:200px;
height:300px;
margin-left:-210px;
}
.con:hover .textbox {
margin-left:0;
}
.con:focus .textbox {
margin-left:0;
}
.cont img {
margin-left:0;
}
.con:hover img {
margin-left:210px;
}
.con:focus .textbox {
margin-left:0;
}
.text {
padding-top: 50px;
}
.con img, .textbox {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
/*skills ui*/
.hskills{
	text-align:left;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.skillbar {
  font-family: 'Open Sans', 'sans-serif';
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}

.carousel-indicators{
	bottom:-50px;
}
.carousel-caption{
   max-width: 550px;
      padding: 0 20px;
      margin:0 auto;
      margin-top: 200px;
      text-align:center;
}
.carousel-inner > .item > div{
    width: 25%;
		min-height: 300px; 
		min-width: 300px; 
    margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
		min-height: 300px; 
		min-width: 300px; 
		width: 25%;
		margin: auto;
  }
  
#myCarousel2 .carousel-inner > .item > div{
    width: 25%;
		min-height: 300px; 
		min-width: 300px; 
    margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}


#myCarousel2 .carousel-inner > .item > img,
  #myCarousel2 .carousel-inner > .item > a > img {
		min-height: 300px; 
		min-width: 300px; 
		width: 70%;
		margin: auto;
  }
  

  
  